<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":2},{"col":3,"row":3,"size_x":2,"size_y":2},{"col":2,"row":3,"size_x":1,"size_y":2},{"col":5,"row":4,"size_x":1,"size_y":1}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Accor Dashing<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" >
      <div data-view="Clock" data-title= "Release 17.06" data-content="NR will start Tomorrow!"></div>

      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/ah-logo.jpg"></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CentralMessage" data-view="Text" data-title="Release 17.06" data-text="Tests of evolutions are finished. NR will start tomorrow" data-moreinfo="Pbs : Env are very slow!" data-updated-at=""></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NRStatus" data-view="Meter" data-title="Status of NR" data-min="0" data-max="100" data-value="30" data-moreinfo="NR IT1 will start in 2 days"></div>

    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-moreinfo="In sync with my neighbour!" data-title="Synergy" data-min="0" data-max="100"></div>
    </li> -->
<!--
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="Tasks" data-view="List" data-unordered="false" data-title="Release Subjects" data-moreinfo="# 30% of subjects are delevered!"></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CriticalBugs" data-view="Number" data-title="Critical Bugs"></div>
      <i class="fa fa-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Remening days" data-end="29-Jul-2017 19:00:00"></div>
        <i class="fa fa-random icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#47bbb3;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="tasksTable" data-view="Table" data-title="Release Tasks" data-moreinfo="30% of subjects are delivred"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
     <div data-id="git" data-view="Git" data-unordered="true" data-title="Git status"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
     <div data-id="slack-integration" data-view="Slack" data-unordered="true" data-title="Slack activity" data-moreinfo="Users online"></div>
   </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #todayilearned"></div>
    <i class="fa fa-twitter icon-background"></i>
  </li>
  </ul>
</div>
